[package]
name = "heroku-util"
version = "0.1.0"
edition = "2018"

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
regex = { workspace = true }
tracing = { workspace = true }
