[package]
name = "heroku-registry-types"
version = "0.1.0"
edition = "2018"

[lib]
path = "src/lib.rs"

[dependencies]
serde = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
