[package]
name = "heroku-api"
version = "0.1.0"
edition = "2018"

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
reqwest = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
dirs-next = { workspace = true }
heroku-util = { path = "../util" }
