[package]
name = "heroku-registry-gen"
version = "0.1.0"
edition = "2024"
readme = "README.md"

[lib]
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
percent-encoding = { workspace = true }
heck = { workspace = true }
heroku-types = { path = "../types" }
bincode = { workspace = true }
clap = { workspace = true }
